* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid rgba(255, 0, 0, 0.25); */
}

.hidden {
  display: none !important;
}

:root {
  --max-content-width: 32rem;

  --primary: #000000;
  --secondary: #222222;
  --tertiary: #444444;
  --text-color: #ffffff;
  --accent: hsl(255, 50%, 50%);

  font-family: "DM Sans", sans-serif;
}

body {
  background-color: var(--primary);
  color: var(--text-color);
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--secondary);
}

.header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 64rem;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.wordmark {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

.wordmark:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Button containing menu or close icon */
.nav-button {
  aspect-ratio: 1;
  margin-block: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.1s;
}

.nav-button:hover,
.nav-button:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-icon {
  font-size: 1.5rem;
  color: var(--text-color);
}

.close-icon {
  font-size: 1.5rem;
  color: var(--text-color);
}

.nav {
  position: absolute;
  display: block;
  top: 100%;
  right: 0;
  border-bottom-left-radius: 1rem;
  background-color: var(--secondary);
  overflow: hidden;
}

.nav > ul {
  list-style: none;
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.1s;
}

.nav-link:hover,
.nav-link:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

.active-nav-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.inline-icon {
  margin-right: 0.5rem;
}

.email-link {
  display: block;
  padding: 1rem 2rem;
  background-color: var(--accent);
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.1s, color 0.1s;
}

.email-link:hover,
.email-link:focus {
  background-color: var(--text-color);
  color: var(--accent);
  outline: none;
}

.main {
  margin-bottom: 3rem;
}

.section {
  padding-inline: 1rem;
}

.section-content {
  max-width: var(--max-content-width);
  margin-inline: auto;
}

.image-and-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 3rem;
}

.hero-image {
  align-self: center;
  width: 6rem;
  aspect-ratio: 1;
  border: 0.25rem solid var(--secondary);
  border-radius: 50%;
}

.hero-title {
  font-size: 1.5rem;
}

.paragraph {
  margin-top: 1.5rem;
  line-height: 2rem;
}

.centered-link-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.centered-link {
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--accent);
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.1s, color 0.1s;
}

.centered-link:hover,
.centered-link:focus {
  background-color: var(--text-color);
  color: var(--accent);
}

.heading {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.inline-link {
  color: var(--text-color);
  text-decoration-color: var(--accent);
  transition: text-decoration-color 0.1s;
}

.inline-link:hover,
.inline-link:focus {
  text-decoration-color: var(--text-color);
}

.contact-info {
  list-style: none;
  margin-top: 1.5rem;
}

.contact-link-container {
  margin-bottom: 1.5rem;
}

.contact-link-container:last-of-type {
  margin-bottom: 0;
}

.contact-link {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--accent);
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.1s, color 0.1s;
}

.contact-link:hover,
.contact-link:focus {
  background-color: var(--text-color);
  color: var(--accent);
}

.contact-icon {
  margin-right: 1rem;
  font-size: 2rem;
}

.title-container {
  margin-top: 3rem;
  padding-inline: 1rem;
}

.title {
  max-width: var(--max-content-width);
  margin-inline: auto;
  font-size: 2rem;
}

.education-list {
  list-style: none;
  display: block;
}

.subheading {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

.education-stats {
  width: 100%;
  border-spacing: 0 1.5rem;
}

.education-stat {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--secondary);
}

.education-stat-label {
  border-radius: 1rem 0 0 1rem;
  padding: 1rem 2rem;
  text-align: left;
}

.education-stat-value {
  border-radius: 0 1rem 1rem 0;
  padding: 1rem 2rem;
  text-align: right;
}

.certificate-image {
  width: 100%;
  margin-top: 1.5rem;
  border: 0.25rem solid var(--secondary);
  border-radius: 1rem;
}

.course-list {
  list-style: none;
}

.course-item {
  margin-top: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--secondary);
}

.wrapping-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.wrapping-list-item {
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--secondary);
}

.project-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: top;
  margin-top: 3rem;
  border: 0.25rem solid var(--secondary);
  border-radius: 1rem;
}

.project-title {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.project-text-and-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

/* Medium screen sizes (tablet) */
@media (min-width: 687px) {
  :root {
    --gap-size: 1.5rem;
  }

  .header-content {
    padding-inline: 1rem;
  }

  .nav-button {
    display: none;
  }

  .nav {
    position: static;
    margin-block: 1rem;
    border-bottom-left-radius: 0;
    background-color: transparent;
    overflow: auto;
  }

  .nav > ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-link {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .email-link {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .hero-image {
    width: 9rem;
  }

  .hero-title {
    font-size: 2.25rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .upper-project-card {
    flex-direction: row;
  }

  .upper-project-card > * {
    flex: 1;
    max-width: calc(
      100% / 2 - var(--gap-size) / 2
    ); /* To keep project image from overflowing */
  }
}

/* Large screen sizes (desktop) */
@media (min-width: 1056px) {
  :root {
    --max-content-width: 64rem;
  }

  .header-content {
    padding-inline: 0;
  }

  .wordmark {
    /* Align wordmark text with content below */
    margin-left: -0.5rem;
  }

  .image-and-title {
    gap: 2rem;
  }

  .hero-image {
    width: 12rem;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 2rem;
  }

  .contact-info {
    display: flex;
    gap: 1.5rem;
  }

  .contact-link-container {
    flex: 1;
    margin-bottom: 0;
  }

  .education-list {
    display: flex;
    gap: 1.5rem;
  }

  .education-item {
    flex: 1;
  }

  .certificate-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.5rem;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.5rem;
  }

  .project-title {
    margin-top: 3rem;
  }
}
