* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

:root {
  --gap-size: 1rem;
  --bg-primary: #ffffff;
  --bg-secondary: #dddddd;
  --main-text: #000000;
  --text-on-accent: #ffffff;
  --accent-color: #000000;
  --accent-color-hover: #222222;

  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-size) calc(var(--gap-size) * 2);
  background-color: var(--accent-color);
}

.wordmark {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-on-accent);
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  width: 1rem;
  height: 1rem;
  color: var(--text-on-accent);
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.nav > ul {
  list-style: none;
}

.link {
  display: block;
  align-self: center;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  text-decoration: none;
  color: var(--text-on-accent);
}

.link:hover {
  background-color: var(--accent-color-hover);
}

.external-link {
  font-weight: bold;
}

.emphasized-link {
  background-color: var(--bg-primary);
  font-weight: bold;
  color: var(--main-text);
}

.emphasized-link:hover {
  background-color: var(--bg-secondary);
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
  padding: calc(var(--gap-size) * 2);
}

section:nth-of-type(odd) {
  background-color: var(--bg-primary);
}

section:nth-of-type(even) {
  background-color: var(--bg-secondary);
}

section:nth-of-type(odd) .wrapping-list-item {
  background-color: var(--bg-secondary);
}

section:nth-of-type(even) .wrapping-list-item {
  background-color: var(--bg-primary);
}

.hero-image {
  align-self: center;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.hero-excluding-image {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

.hero-title-and-subtitle {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

.hero-subtitle {
  font-weight: 300;
}

p {
  line-height: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
  list-style: none;
}

.contact-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 1rem;
}

.subtext {
  font-weight: normal;
}

.active-link {
  pointer-events: none;
  background-color: var(--accent-color-hover);
  color: var(--text-on-accent);
  cursor: default;
}

.education-listings {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

.education-listing {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

.rich-text-and-link {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

.course-table {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--gap-size);
}

.course-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--bg-primary);
}

.course-name {
  font-weight: bold;
}

tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--gap-size);
  padding: 0.5rem 1rem;
  background-color: var(--bg-secondary);
}

tr:last-of-type {
  margin-bottom: 0;
}

th {
  text-align: left;
}

td {
  text-align: right;
}

.wrapping-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
  list-style: none;
}

.wrapping-list-item {
  padding: 0.5rem 1rem;
}

.upper-project-card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

.project-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: top;
}

.project-text-and-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

/* Medium screen sizes (tablet) */
@media (min-width: 641px) {
  :root {
    --gap-size: 1.5rem;
  }

  .wordmark {
    font-size: var(--gap-size);
  }

  .nav-button {
    display: none;
  }

  .nav {
    position: static;
    box-shadow: none;
  }

  .nav > ul {
    display: flex;
  }

  section {
    padding-inline: calc(var(--gap-size) * 4);
  }

  .hero-section {
    flex-direction: row;
  }

  .hero-image {
    align-self: flex-start;
  }

  .hero-title-and-subtitle {
    text-align: left;
  }

  .link {
    align-self: flex-start;
  }

  .rich-text-and-link {
    flex-direction: row;
    justify-content: space-between;
  }

  .upper-project-card {
    flex-direction: row;
  }

  .upper-project-card > * {
    flex: 1;
    max-width: calc(
      100% / 2 - var(--gap-size) / 2
    ); /* To keep project image from overflowing */
  }
}

/* Large screen sizes (desktop) */
@media (min-width: 1008px) {
  :root {
    --gap-size: 2rem;
  }

  section {
    padding-inline: calc(var(--gap-size) * 8);
  }

  .contact-list {
    flex-direction: row;
  }

  .contact-list > * {
    flex: 1;
  }

  .education-listings {
    flex-direction: row;
  }

  .education-listing {
    flex: 1;
  }

  .course-table {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap-size);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #000000;
    --bg-secondary: #222222;
    --main-text: #ffffff;
    --text-on-accent: #000000;
    --accent-color: #ffffff;
    --accent-color-hover: #dddddd;

    color: var(--main-text);
  }

  .nav {
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
  }
}
